/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Body */
body {
  background: linear-gradient(to right, pink, rgb(167, 41, 62));
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* Navbar */
.navbar-Links {
  background: linear-gradient(90deg, #e65a92, #cccddc);
  color: white;
  padding: 18px 40px;
  display: flex;
  gap: 200px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.Link {
  text-decoration: none;
  color: antiquewhite;
  font-size: 10px;
  transition: 0.3s;
}

.navbar h2 {
  font-weight: 600;
  text-align: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

/* Container */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 10px 20px;
}

/* Title */
h1 {
  margin-bottom: 25px;
  color: #222;
  text-align: center;
  font: size 30px;
  background-color: rgb(233, 229, 236);
}

/* Grid */
.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}

/* Card */
.card {
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}
.card-footer {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

/* Card Hover Effect */
.card:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

/* Card Title */
.card h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #111;
}

/* Text */
.card p {
  font-size: 14px;
  color: #555;
}

/* Author */
.card strong {
  color: #4f46e5;
}

/* Button */
.btn {
  display: inline-block;
  margin-top: 12px;
  padding: 8px 14px;
  background: linear-gradient(90deg, #4f46e5, #6366f1);
  color: white;
  border-radius: 20px;
  text-decoration: none;
  font-size: 13px;
  transition: 0.3s;
  border: #3a32ca;
}

.btn:hover {
  transform: scale(1.05);
}

/* Detail Page */
.detail {
  display: flex;
  flex-direction: column;
  gap: 20px; /* automatic spacing between all elements */
}

.detail h1 {
  margin-bottom: 15px;
}

.detail p {
  line-height: 1.7;
  color: #444;
}

/* Footer */
.footer {
  margin-top: 50px;
  text-align: center;
  padding: 18px;
  background: #111827;
  color: white;
}
/* Card Image */
.card-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  border: 3px solid red;
  margin-bottom: 10px;
}
.detail img {
  border-radius: 10px;
}
.back-btn {
  margin: 20px, 30px;
  padding: 8px, 10px;
  margin-bottom: 20px !important;
  background-color: #333;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
.search-input {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}
.app {
  background: linear-gradient(to right, pink, rgb(167, 41, 62));
  color: #000;
  min-height: 100vh;
}

.dark {
  background: #121212;
  color: #ffffff;
}

.toggle-btn {
  position: fixed;
  top: 10px;
  right: 20px;
  padding: 8px 12px;
  cursor: pointer;
}
.fav-btn {
  margin: 8px 0;
  padding: 6px 10px;
  cursor: pointer;
  background: #ffd700;
  border-radius: 5px;
  border-color: 2px yellowgreen;
}
.card-footer {
  justify-content: space-between;
  gap: 20px;
}
.fav-btn,
.btn {
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}
.search-input {
  padding: 10px;
  width: 60%;
  margin: 10px 0;
}

.fav-toggle-btn {
  margin: 10px;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 10px;
}

.load-more-btn {
  margin: 20px auto;
  display: block;
  padding: 10px 20px;
  cursor: pointer;
}
